<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="home.html">Home</a></li>
                <li role="presentation"><a href="sobre.html">Sobre</a></li>
                <li role="presentation"><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Rails Saber</h3>
    </div>

    <div class="jumbotron">

        <div class="iniciar"><h2>Fase 3</h2>

            <p class="lead">Uau, você arrasou, vamos continuar?</p>
            <p><a class="btn btn-lg btn-success" href="#" id="0" role="button">Iniciar</a></p>
        </div>

        <header>
            <main id="question-list">

                <div id="resultado"></div>
                <br>
            </main>

        </header>
    </div>

    <footer class="footer">
        <p>&copy; 2016 Rails Saber</p>
    </footer>

</div> <!-- /container -->