<div class="container">

<%= render 'form' %>
    <div class="jumbotron">

        <div class="iniciar"><h2>Vamos aprender Logica com Ruby?</h2>

        <p class="lead">Rails Saber tem o intuito de ensinar o básico da linguagem Ruby para as crianças</p>
        <p> <%= link_to "INICIAR", controller: "sessions", action: "new" %></p>
        </div>

        <header>
            <main>
                
               

            </main>

        </header>
    </div>

    <footer class="footer">
        <p>&copy; 2016 Rails Saber</p>
    </footer>

</div> <!-- /container -->
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/quiz.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>