<div class="container">

    <%= render 'form' %>

    <div class="jumbotron">

        <div class="iniciar"><h2>Sobre o Ruby</h2>

            <p class="lead">Ruby é uma linguagem de programação interpretada, dinâmica, de código aberto, com total foco na simplicidade e na produtividade. Possui tipagem dinâmica e forte, ou seja, não é preciso definir o tipo antes de usar a variável, porém o interpretador informará um erro caso tente fazer uma operação com dois tipos diferentes, orientada a objetos e com várias semelhanças com outras linguagens como Perl, Python, entre outras. Também tem uma sintaxe elegante de leitura natural e fácil escrita</p>


        </div>
<main>
        <h1 class="titulo-principal">Comentario do Yukihiro Matsumoto</h1>
        <div class="container">
            <p>Yukihiro Matsumoto aproveitou as melhores ideias das linguagens da época para criar o Ruby. Ele queria uma linguagem que fosse mais poderosa que o Perl e mais orientada a objeto que o Python. Assim surgiu o Ruby onde tudo é um objeto, ou seja, toda a parcela de informação dentro da linguagem possui métodos que podem ser acessados e modificados, toda a informação dentro da linguagem pode receber propriedades e ações.  <em>qualidade</em>, <em></em> e que <em></em> para meus clientes.</p>
            <p>Trabalho usando a web como plataforma, ou seja, respiro HTML5, CSS3 e JavaScript. Crio sites para todos, seguindo as principais diretivas de <strong>acessibilidade, responsividade e web semântica</strong>, sem descuidar da qualidade de código.</p>
            <h2 class="subtitulo-texto">Como trabalho</h2>
            <blockquote class="citacao-bio iasp" tabindex="1">

                <p><%= image_tag "yuki.JPG" %></p>
                <cite>"Eu conhecia muitas linguagens antes de criar o Ruby, mas nunca estava satisfeito com elas."</cite>
            </blockquote>
            <p>Satisfazer meus clientes é prioridade. Para isso, garanto um processo de desenvolvimento altamente interativo, baseado em feedback contínuo. <strong>Não trabalho com escopo fechado</strong>: o cliente é que decide quando o produto está pronto.</p>
            <p>Também não trabalho com prazos fechados: <strong>qualidade é importante demais para ser sacrificada</strong>.</p>
            <h2 class="subtitulo-texto">Ruby On Rails</h2>
            <blockquote class="citacao-bio uba" tabindex="1">
                <p><%= image_tag "rr.jpg" %></p>
                <cite>Yukihiro Matsumoto</cite>
            </blockquote>
            <p> </p>
            <h2 class="subtitulo-texto"></h2>
            <p></p>
            <h2 class="subtitulo-texto">Versoes do Ruby</h2>
            <table class="habilidades">
                <thead>
                    <tr>
                        <th>Versoes</th>
                        <th>Caracteristicas</th>
                        <th>Evolução</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Versão 1.0</th>
                        <td>?????</td>
                        <td>???????????????</td>
                    </tr>
                    <tr>
                        <th>Versão 1.1</th>
                        <td>?????</td>
                        <td>????????????????</td>
                    </tr>
                    <tr>
                        <th>Versão 1.3</th>
                        <td>??????</td>
                        <td>??????????????????????</td>
                    </tr>
                    <tr>
                        <th>Versao 1.4</th>
                        <td>????????</td>
                        <td> ??????????????????????/</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
      
    </div>

    <footer class="footer">
        <p>&copy; 2016 Rails Saber</p>
    </footer>

</div> <!-- /container -->
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/quiz.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
