.users {
  display: block;
  background: url(tema.jpg);
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
}

li.active {

	color: #ff4646;
}

img{

	width: 100px;
	height: 130px;
	
}